# Snowflake Table Sync Configuration
tables:
  - name: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
    postgres:
      schema: "ms"
      table: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
      indexes:
        - "_ID"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "FUND_ATTRIBUTES_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_ATTRIBUTES_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "FUND_ATTRIBUTES_CA_OPENEND"
      indexes:
        - "_ID"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "MONTH_END_TRAILING_TOTAL_RETURNS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "MONTH_END_TRAILING_TOTAL_RETURNS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, MONTHENDDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "MONTH_END_TRAILING_TOTAL_RETURNS_CA_OPENEND"
      indexes:
        - "_ID"
        - "MONTHENDDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "FUND_FLOW_DETAILS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_FLOW_DETAILS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, ESTFUNDLEVELNETFLOWDATEMOEND ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "FUND_FLOW_DETAILS_CA_OPENEND"
      indexes:
        - "_ID"
        - "ESTFUNDLEVELNETFLOWDATEMOEND"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "MORNINGSTAR_RATING_EXTENDED_PERFORMANCE_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "MORNINGSTAR_RATING_EXTENDED_PERFORMANCE_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, RATINGDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "MORNINGSTAR_RATING_EXTENDED_PERFORMANCE_CA_OPENEND"
      indexes:
        - "_ID"
        - "RATINGDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "MONTH_END_TRAILING_TOTAL_RETURN_PERCENTILE_AND_ABSOLUTE_RANKS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "MONTH_END_TRAILING_TOTAL_RETURN_PERCENTILE_AND_ABSOLUTE_RANKS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, MONTHENDDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "MONTH_END_TRAILING_TOTAL_RETURN_PERCENTILE_AND_ABSOLUTE_RANKS_CA_OPENEND"
      indexes:
        - "_ID"
        - "MONTHENDDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "RELATIVE_RISK_MEASURE_PROSPECTUS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "RELATIVE_RISK_MEASURE_PROSPECTUS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, ENDDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "RELATIVE_RISK_MEASURE_PROSPECTUS_CA_OPENEND"
      indexes:
        - "_ID"
        - "ENDDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "FUND_LEVEL_NET_ASSETS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_LEVEL_NET_ASSETS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, NETASSETSDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "FUND_LEVEL_NET_ASSETS_CA_OPENEND"
      indexes:
        - "_ID"
        - "NETASSETSDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "RISK_MEASURE_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "RISK_MEASURE_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, ENDDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "RISK_MEASURE_CA_OPENEND"
      indexes:
        - "_ID"
        - "ENDDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "FUND_MANAGER_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_MANAGER_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "FUND_MANAGER_CA_OPENEND"
      indexes:
        - "_ID"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "PROSPECTUS_FEES_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "PROSPECTUS_FEES_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "PROSPECTUS_FEES_CA_OPENEND"
      indexes:
        - "_ID"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "ANNUAL_REPORT_FEES_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "ANNUAL_REPORT_FEES_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, ANNUALREPORTDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "ANNUAL_REPORT_FEES_CA_OPENEND"
      indexes:
        - "_ID"
        - "ANNUALREPORTDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "MORNINGSTAR_RATING_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "MORNINGSTAR_RATING_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, RATINGDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "MORNINGSTAR_RATING_CA_OPENEND"
      indexes:
        - "_ID"
        - "RATINGDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

  - name: "FEE_LEVELS_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FEE_LEVELS_CA_OPENEND"
      filter:
        - "WHERE _ID IN (SELECT mstarid FROM CIGAM_SBX_PL.DNA_ANALYTICS_INSIGHTS_INVESTMENT_PRODUCT.V_MSTAR_PEERS_FCLASS_ETF_ID_CA_OPENEND)"
        - "QUALIFY ROW_NUMBER() OVER (PARTITION BY _ID, FEELEVELDATE ORDER BY _TIMESTAMPTO DESC) = 1"
    postgres:
      schema: "ms"
      table: "FEE_LEVELS_CA_OPENEND"
      indexes:
        - "_ID"
        - "FEELEVELDATE"
        - "_TIMESTAMPFROM"
        - "_TIMESTAMPTO"

