# Snowflake Table Sync Configuration
tables:
  # - name: "financial_data"
  #   snowflake:
  #     database: "PROD_DB"
  #     schema: "PUBLIC"
  #     table: "FINANCIAL_DATA"
  #   postgres:
  #     schema: "public"
  #     table: "financial_data"
  #   sync_mode: "full"
  #   schedule: "daily"
  #   encryption: true
  #   compression: true

  - name: "fund_share_class_basic_info_all_funduniverse"
    snowflake:
      database: "CIGAM_SBX_PL"
      schema: "DNA_ANALYTICS_INSIGHTS"
      table: "FUND_SHARE_CLASS_BASIC_INFO_ALL_FUNDUNIVERSE"
    postgres:
      schema: "public"
      table: "fund_share_class_basic_info_all_funduniverse"
    sync_mode: "full"
    schedule: "daily"
    encryption: true
    compression: true
