# Snowflake Table Sync Configuration
tables:
  # - name: "financial_data"
  #   snowflake:
  #     database: "PROD_DB"
  #     schema: "PUBLIC"
  #     table: "FINANCIAL_DATA"
  #   postgres:
  #     schema: "public"
  #     table: "financial_data"
  #   sync_mode: "full"
  #   schedule: "daily"
  #   encryption: true
  #   compression: true

  - name: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
    snowflake:
      database: "CIGAM_PRD_RL"
      schema: "MORNINGSTAR_MAIN"
      table: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
    postgres:
      schema: "ms"
      table: "FUND_SHARE_CLASS_BASIC_INFO_CA_OPENEND"
    sync_mode: "full"
    schedule: "daily"
    encryption: true
    compression: true
